html {
  font-family: Microsoft JhengHei;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  width: 100%;
}
body,
p {
  margin: 0px;
  font-size: 14px !important;
}
ul,
li {
  padding: 0px;
  list-style: none;
}
figure {
  margin: 0px;
}
@media screen and (max-width: 1023px) {
  ::-webkit-scrollbar {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  html {
    background-color: #181a1b !important;
  }
  body {
    width: 600px;
    background-color: #ffffff;
  }
}
@keyframes placeload {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
