html {
  font-family: Microsoft JhengHei;
}
a {
  text-decoration: none;
  color: inherit;
  word-break: break-all;
}
body {
  width: 100%;
  margin-bottom: 50px !important;
}
body,
p {
  margin: 0px;
  font-size: 16px !important;
}
ol,
ul,
li {
  padding: 0px;
  list-style: none;
}
figure {
  width: 100% !important;
  margin: 0px;
}
.header__thumbnail,
.header__source-img,
.footer__source-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.header {
  display: grid;
  grid-template-rows: 0px 1fr;
}
.header__thumbnail {
  height: 0px;
  background-color: #c5c5c5;
}
.header__text-info {
  padding: 15px 10px;
  display: grid;
  grid-template-columns: 30px 1fr 70px;
  column-gap: 12px;
  grid-template-rows: 1fr 16px 14px;
}
.header__source-img {
  width: 100%;
  height: 100%;
  grid-column: 1/2;
  grid-row: 2/-1;
}
.header__source-title {
  grid-row: 2/3;
  font-size: 13px;
  font-weight: bold;
}
.header__title {
  user-select: none;
  font-weight: bold;
  padding-bottom: 10px;
  grid-column: 1/-1;
  grid-row: 1/2;
}
.header__published-updated {
  grid-column: 2/3;
  grid-row: 3/-1;
  color: #c4c4c4;
  font-size: 10px;
}
.detail::after {
  content: "";
  display: block;
  width: 100%;
  height: 8px;
  background-color: #f7f7f7;
  margin: 12px 0px;
}
.detail > * {
  padding: 15px;
}
.detail__footer {
  display: grid;
  grid-template-columns: 50px 1fr 100px;
  margin: 32px 0px;
  column-gap: 10px;
  padding: 15px;
  align-items: center;
  height: 50px;
}
.footer__source-img {
  height: 100%;
}
.footer__source-title {
  font-weight: bold;
}
.footer__original-link {
  justify-self: end;
  display: block;
  color: #ffffff;
  background-color: #979797;
  padding: 8px 12px;
  font-size: 1.2em;
  width: fit-content;
  justify-content: center;
  border-radius: 5px;
}
.detail img,
.content img {
  width: 100% !important;
}
.detail .acglink {
  color: #0055aa;
}
.detail .video .img1,
.content .video .img1 {
  height: calc(100vw * 9 / 16);
  margin: 10px 0px;
}
iframe {
  width: 100%;
}
iframe[src^="https://www.instagram.com/"] {
  width: calc(100% - 2px);
  height: 650px;
}
iframe[src^="https://www.youtube.com/embed/"] {
  border: 0px;
}
.detail__content > div,
.content > div {
  width: inherit !important;
}
.detail__content * {
  margin: 0px !important;
  font-size: 15px !important;
  line-height: 24px !important;
  font-weight: 400 !important;
  color: #333333 !important;
}
.tool-menu {
  width: inherit;
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 999;
  background-color: #fafafa;
  display: grid;
  height: 50px;
  grid-template-columns: repeat(2, calc(50% - 0.5px));
}
.tool-menu > div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.tool-menu > div:not(:first-child) {
  border-left: 1px solid rgba(219, 219, 219, 0.56);
}
.tool-menu__icon {
  width: 30px;
  height: 31px;
  margin: 9px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}
.tool-menu__text {
  display: grid;
  align-content: center;
  margin: 0px 8px;
  font-size: 13px;
  font-weight: 400;
  color: #767676;
}
.tool-menu__inside-sharing > .tool-menu__icon {
  background-image: url("/icons/btn_share_bf.svg");
}
.tool-menu__outside-sharing > .tool-menu__icon::before {
  content: "";
  background-image: url("/icons/btn_share.svg");
  background-repeat: no-repeat;
  width: 28px;
  height: 28px;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tool-menu__outside-sharing.loading {
  pointer-events: none;
}
.tool-menu__outside-sharing.loading > .tool-menu__text {
  display: none;
}
.tool-menu__outside-sharing.loading > .tool-menu__icon::before {
  width: 24px;
  height: 24px;
  background-image: url("/icons/sync-black-24dp.svg");
}
.tool-menu__outside-sharing.loading > .tool-menu__icon {
  animation: spin 1s linear infinite;
}
@keyframes spin {
  100% {
    transform: rotate(-360deg);
  }
}
.tool-menu__outside-sharing > .tool-menu__icon {
  position: relative;
}
.b-news-card {
  display: block;
}
.b-news-card > a {
  display: block;
}
.b-news__card {
  width: 100%;
  background-color: #fafafa;
  border-radius: 6px;
  overflow: hidden;
  border: 0.5px solid #dbdbdb;
}
.b-news__thumbnail {
  overflow: hidden;
  position: relative;
}
.b-news__thumbnail-img-2 {
  width: 100%;
}
.b-news__info {
  padding: 10px;
  font-size: 0.8em;
}
.b-news__source {
  font-size: 0.8em;
  color: #979797;
  font-weight: bold;
}
.b-news__title {
  font-weight: bold;
}
.b-news__action {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  padding-bottom: 10px;
}
.b-news__action > div {
  border: 1px solid #979797;
  border-radius: 5px;
  font-size: 0.64em;
  color: #767676;
  padding: 4px 14px;
}
.read-more-vendor {
  display: none;
}
.detail__content a,
.content a {
  font-weight: bold;
  color: #26d07c;
  text-decoration: underline;
}
.recommends {
  margin: 0px 12px;
}
.recommends__title {
  font-weight: bold;
  margin: 16px 0px;
}
#__vconsole {
  display: none;
}
#__vconsole.showing {
  display: block;
}
#__vconsole .vc-switch {
  opacity: 0.3;
}
.detail__source-link > a {
  color: #767676;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  height: 17px;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
}
.detail__external-link-icon {
  padding-left: 8px;
  width: 17px;
  background-image: url("/icons/external_link.svg");
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 1024px) {
  html {
    background-color: #181a1b !important;
  }
  body {
    width: 600px;
    background-color: #ffffff;
  }
}
.b-recommend-ad-block {
  margin-left: 12px;
}
a[href^="https://play.google.com/"],
a[href^="https://apps.apple.com/"] {
  pointer-events: none;
  color: inherit;
  text-decoration: none;
}
